<div class="box">
  <div class="box-header with-border">
    <a (click)="create()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span>创建</a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;margin-top:10px;">
        <!--formControl指令，与nameFliter绑定起来；当input输入值的时候往外发射数据-->
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="股票名称">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>股票序号</th>
        <th>股票名称</th>
        <th>股票价格</th>
        <th>股票星级</th>
        <th>描述</th>
        <th>类型</th>
        <th>操作</th>
      </tr>
      <!--//开始放数据-->
      <!--//使用*ngFor=""指令-->
      <tr *ngFor="let stock of stocks | stockFilter:'name':keyword;let i =index">
        <td>{{i+1}}</td>
        <td>{{stock.name}}</td>
        <td>{{stock.price}}</td>
        <td><app-starts [rating]="stock.rating"></app-starts></td>
        <td>{{stock.desc}}</td>
        <td>{{stock.categories}}</td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="update(stock)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
          <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
        </td>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">«</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>





